.headerList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.headerItem {
  color: #000;
}

.headerLink {
  text-decoration: none;
  color: black;
}

.headerActive {
    color: red;
}